body {
  background-color: #D8AFCF;
}

.row {
  margin-top: 0px;
  margin-bottom: 30px;
  top: 0px;
}

div.row{
  padding-top: 30px;
}

.btn, .btn2 {
  font-family: 'Patrick Hand', cursive;
}

h1 {
  text-align: center;
  font-family: 'Noticia Text', serif;
  color: white;
}

h2{
  text-align: center;
  font-family: 'Noticia Text', serif;
  color: #484846;
}

p{
  font-family: 'Patrick Hand', cursive;
}

img{
  max-height: 40vh;
  object-fit: contain;
}



footer {
  background-color: #73716B;
  text-align: right;
  bottom: 0px;
  right: 0px;
  position: sticky;
  height: 5vh;
  padding-right: 20px;
}

footer.row{
   margin-bottom: 0px;
}

.feedback{
  color: #FEC67A;
  font-family: 'Patrick Hand', cursive;
}

.carousel-inner {
  border-radius: 10px;
}
