.col {
  max-height: 50vh;
  max-width: 25vw;
  border: 1px solid black;
}

.row {
  margin-top: 0px;
  margin-bottom: 30px;
  top: 0px;
  overflow: visible;
}

body {
  background-image: url("img/bookcolor1.png");
  background-size: cover;
}

h1 {
  text-align: right;
}

img{
  max-height: 30vh;
  object-fit: contain;
}

a.carousel-control-prev, a.carousel-control-next, ul.carousel-indicators {
  visibility: hidden;
}
